<div class="pt-10 pl-20 mx-20">
    <h1 class="text-3xl font-medium mb-2">AI Assistant</h1>

    <div class="mt-6 mb-6">
        <h3 class="text-gray-700 font-medium mb-2">Example questions:</h3>
        <div class="flex flex-wrap gap-2">
            <app-example-button text="When is my next event?" (selectExample)="setExample($event)">
            </app-example-button>

            <app-example-button text="Who’s attending the Art Exhibition?" (selectExample)="setExample($event)">
            </app-example-button>

            <app-example-button text="List all events I organize" (selectExample)="setExample($event)">
            </app-example-button>
        </div>
    </div>

    <div class="space-y-4  ">
        <input [(ngModel)]="userMessage" placeholder="Ask anything..." class="border p-2 w-full rounded" />

        <button (click)="sendToAI()" class="bg-blue-600 text-white px-4 py-2 rounded cursor-pointer"
            [disabled]="loading">
            {{ loading ? 'Wait...' : 'Send' }}
        </button>

        <div *ngIf="aiReply" class="bg-white p-3 rounded shadow whitespace-pre-line h-full" [innerHTML]="aiReply">
            {{ aiReply }}
        </div>

    </div>
</div>